<h1>Edit Question</h1>
<%# render is going to look for a partial meaning a view file that starts with an '_' if you don't specify full path it will look in the same folder as this file's folder. In this case it will look in views/questions folder. You can specify full path such as: render "/questions/form" - partial have access to instance vaiables so no need to pass them. For instance  %>
<%= render "form" %>
