<h1>Welcome to my first Rails Applications</h1>

<div class="box red col-md-3 col-sm-6 col-xs-12"></div>
<div class="box blue col-md-3 col-sm-6 col-xs-12"></div>
<div class="box yellow col-md-3 col-sm-6 col-xs-12"></div>
<div class="box green col-md-3 col-sm-6 col-xs-12"></div>


<%= image_tag "cats.jpg", stype: "width:100%" %>
